@font-face {
  font-family: 'Cunia';
  src: url('Cunia.svg#Cunia') format('svg'),
       url('Cunia.ttf') format('truetype'),
       url('Cunia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cunia';
  src: url('cunia.eot');
  src: url('cunia.eot?#iefix') format('embedded-opentype'),
       url('cunia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

