@mixin fontExo($color, $fontSize) {
  font-family: 'Exo2-Regular', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin fontCunia($color, $fontSize) {
  font-family: 'Cunia', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin fontRusso($color, $fontSize) {
  font-family: 'Russo', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin fontNun($color, $fontSize) {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: $fontSize;
  color: $color;
}

@mixin flexAlign($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin hover($hover, $focus) {
  color: $hover;
  &:hover {
    color: darken($hover, 20%);
  }
  &:focus {
    color: $focus;
  }
  @content;
}
